{% extends "webapp/layout.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form id="resetPasswordForm" action="{% url 'forgot_password' %}" method="post">
        <h2>Forgot Password</h2>
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Enter your email</label>
            <input autofocus class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <input class="btn btn-primary" type="submit" value="forgot_password">
    </form>

{% endblock %}
