{% extends "webapp/layout.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block body %}

    <form id="resetPasswordForm" action="{% url 'password_reset' access_code %}" method="post">
        <h2>Reset Password</h2>
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Enter your new password and confirm it</label>
            <input autofocus class="form-control" type="password" name="password" placeholder="Password">
            <input autofocus class="form-control" type="password" name="confirm_password" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="forgot_password">
    </form>

{% endblock %}
